#juego{
  width: 600px;
  height: 600px;
  position: relative;
  border: solid 5px #73afe4;
  background-color: #73afe4;
}

.pieza{
  outline: 1px #73afe4 solid;
  width: 200px;
  height: 200px;
  background-size: 100% 100%;
  position: absolute;
  transition: all .1s ease-in-out;
}
